<div class="container text-center">
  <br/>
  <form ng-submit="login()" name='loginForm' roll='form' novalidate>
    <div class="row">
      <br/>
      <h1>Login</h1>
      <br/>
      <label for="email">Nice to see you again!</label>
      <input type="email" class="form-control" ng-model="user.email" name="email" placeholder="Email" required>
    </div>
    <div class="row">
      <br/>
      <input type="password" class="form-control" ng-model="user.password" placeholder="Password" required>
    </div>
    <div class="row">
      <br/>
      <input type="submit" ng-disabled='loginForm.$invalid' class="btn btn-default"></input>
    </div>
    <div class="row help-block" ng-hide='success'>
      <br/>
      <p>Incorrect login information.</p>
    </div>
  </form>
</div>