<div class="container text-center">
  <br/>
  <form ng-submit="registerUser(user.email, user.password)" roll='form'>
    <div class="row">
      <br/>
      <input class='form-control' type="email" ng-model="user.email" placeholder="Email">
    </div>
    <div class="row">
      <br/>
      <input class='form-control' type="password" ng-model="user.password" placeholder="Password">
    </div>
    <div class="row">
      <br/>
      <input class='btn btn-default' type="submit" value="Register"/>
    </div>
  </form>
</div>
