<div class="row-fluid">
  <div class="playback" ng-controller="VideoQueueController">
    <div class="usercount">
      <h4>Current Audience: {{ totalUsers }} Active Users</h4>
    </div>
    <div class="playback" ng-controller="PlayerController">
      <youtube width="{{yt.width}}" height="{{yt.height}}" videoid="{{yt.videoid}}"></youtube>
      <!-- <div>{{ $scope.queue[index].voteCount }}<div> -->
    </div>
  
    <div class="queue">
      <form name="queueForm" novalidate>
        <input type="text" ng-model="item" ng-minlength="6" ng-pattern="/^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/" class="queueInput" name="vidInput" placeholder="Enter a Youtube URL Here" required>
        <button class="submit btn btn-default" ng-disabled='queueForm.$invalid' ng-click="addToQueue(item)">Add</button>
        <span class="error" ng-show="queueForm.vidInput.$error.minlength">This field is required</span>
        <br/>
        <span class="error help-block" ng-show="queueForm.vidInput.$error.pattern">Invalid YouTube URL</span>
      </form>

      <div class="queueList">
        <ul class="queueList">
          <li ng-repeat="item in queue">{{ $index + 1 }}. {{ item.item }} <div>Votes: {{ item.voteCount }}</div>
            <button ng-click="upvote($index)" class='btn btn-default'>Up Vote</button>
            <button ng-click="downVote($index)" class='btn btn-default'>Down Vote</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
  